body,
html {
  height: 100%;
  margin: 0;
  color: #333;
}
.affiliations {
  font-size: 0.9em; /* Smaller font size for affiliations */
  color: #666; /* Slightly lighter color for a subtle look */
  margin-top: 10px; /* Space above affiliations */
}
.profile-picture {
  width: 30vw; /* Width relative to the viewport width */
  height: 30vw; /* Height same as width to maintain a circle */
  max-width: 150px; /* Maximum width in pixels */
  max-height: 150px; /* Maximum height, same as max-width to maintain a circle */
  border-radius: 150px; /* Circular shape */
  border: 2px solid #333; /* Border thickness in pixels */
  margin-bottom: 20px; /* Space below the picture in pixels */
  margin-left: auto; /* These two margins auto center the block */
  margin-right: auto;
}

.authors {
  font-size: 0.8em; /* Smaller font size for author names and affiliations */
  color: #555; /* Color for the author names and affiliations */
  display: block; /* Makes the element appear on its own line */
}

.additional-link {
  font-size: 0.8em; /* Smaller font size for additional links */
  color: #666; /* Slightly lighter color for a subtle look */
  margin-right: 10px; /* Right margin for spacing between links */
  text-decoration: none; /* Removes underline from links */
}

.additional-link:hover {
  color: #0077b5; /* Color change on hover */
}
.publications h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  margin-top: 20px; /* Space above each year heading */
  margin-bottom: 5px; /* Space below each year heading */
  font-weight: 500;
}
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Raleway", sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.content {
  width: 90%;
  margin-top: 10vh;
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

/* Media query for screens smaller than a certain width, e.g., 600px */
@media (max-width: 600px) {
  .content {
    width: 80%; /* Adjusts width for smaller screens */
  }
}


h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.6;
}



.social-icons {
  margin-top: 20px;
}

.social-icons a {
  text-decoration: none;
  margin-right: 15px; /* Space between icons */
  font-size: 1.5em; /* Icon size */
  color: #333; /* Icon color. Adjust as needed */
}

.social-icons a:hover {
  color: #0077b5; /* Hover color. Adjust as needed */
}

.publications {
  margin-top: 30px;
  text-align: left; /* Aligns publication text to the left */
}


.publications h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: 600;
}

.publications ul {
  list-style-type: none;
  padding: 0;
}

.publications ul li {
  font-size: 0.9em; /* Smaller font size for publications */
  margin-bottom: 8px;
}

.publications a {
  color: #555; /* Slightly lighter text color for a minimalist look */
  text-decoration: none;
  transition: color 0.3s; /* Smooth color transition on hover */
}

.publications a:hover {
  color: #0077b5; /* Change to a color that suits the minimalist aesthetic when hovered */
}